body {
 margin: 1cm;
}

/* credit: http://charliepark.org/bootstrap_buttons/ */
.btn-qc {
  background-color: hsl(275, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9400ff", endColorstr="#590099");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#9400ff), to(#590099));
  background-image: -moz-linear-gradient(top, #9400ff, #590099);
  background-image: -ms-linear-gradient(top, #9400ff, #590099);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9400ff), color-stop(100%, #590099));
  background-image: -webkit-linear-gradient(top, #9400ff, #590099);
  background-image: -o-linear-gradient(top, #9400ff, #590099);
  background-image: linear-gradient(#9400ff, #590099);
  border-color: #590099 #590099 hsl(275, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}

.label-qc {
  background-color: hsl(275, 100%, 30%) !important;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
}

.btn-hardware { 
  background-color: hsl(213, 100%, 30%) !important; 
  background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0072ff", endColorstr="#004499"); 
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0072ff), to(#004499)); 
  background-image: -moz-linear-gradient(top, #0072ff, #004499); 
  background-image: -ms-linear-gradient(top, #0072ff, #004499); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0072ff), color-stop(100%, #004499)); 
  background-image: -webkit-linear-gradient(top, #0072ff, #004499); 
  background-image: -o-linear-gradient(top, #0072ff, #004499); 
  background-image: linear-gradient(#0072ff, #004499); 
  border-color: #004499 #004499 hsl(213, 100%, 25%); 
  color: #fff !important; 
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33); -webkit-font-smoothing: antialiased; 
}

.label-hardware {
  background-color: hsl(213, 100%, 30%) !important; 
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
}

tr.inactive td {
    background-color: #ececec;
    color: #b9b9b9;
}

html,body {
 height: 100%;
}

.right {
 text-align: right;
}

@media only screen and (max-width: 1024px) {
 td {
  max-width: 500px;
 }
 .chosen-container {
  max-width: 400px;
 }
}
